<html>

<body>
    <form action="http://localhost:5000/login" method="post"> <!--  here the attribute after method represents how the data is going to be sent to the server -->
        <p> {{name}} enter your credential </p>
        <p><input type="text" name="nm" /></p>
        <p>
            enter age:
        </p>
        <p><input type="text" name="age" /></p>

        <p><input type="submit" value="submit" /></p>
    </form>
</body>

</html>