<!doctype html>
<html>
   <body>
      {% if marks>50 %}<!-- use jinja templating to add if statements to the html page-->
         <h1> Your result is pass!</h1>
      {% else %}
         <h1>Your result is fail</h1>
      {% endif %}
   </body>
</html>



<!--
{% ... %} for Statements
{{ ... }} for Expressions to print to the template output
{# ... #} for Comments not included in the template output
# ... ## for Line Statements-->